{% extends "blog/base.html" %}
{% load staticfiles%}

{% block content %}
    <section class="container content-section text-center">
        <div>
            <h2>클래스 목록</h2>
            <p>현재 등록되어 있는 모든 클래스들의 리스트입니다</p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% for group in group_list %}
                <div class="list-group">
                    <a href="{% url "blog:group_detail" group.pk %}" class="list-group-item">
                        <h4 class="list-group-item-heading" style="display: inline; float: left;">
                            {{ group.name }} / {{ group.owner }}
                        </h4>
                        <h4 class="list-group-item-heading" style="float: right;"><span class="glyphicon glyphicon-user"></span> {{ group.likes.count }}</h4>
                        <p class="list-group-item-text" style="text-align: left; clear: both;">{{ group.university }} / {{ group.semester }}</p>
                    </a>
                </div>
                {% empty %}
                <h2> 아직 등록된 그룹이 없네요! </h2>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        $("li .page-scroll").remove()
    </script>
{% endblock script %}