{% extends 'blog/layout.html' %}

{% block content %}
    <h1>질문: {{ question.title }}</h1>
    {{ question.content }} <br>
    <a href={% url 'blog:question_edit' group.pk question.pk %}>수정</a>
    <a href={% url 'blog:question_delete' group.pk question.pk %}>삭제</a>
    <hr/>

    {% for answer in answer_list %}
        {{answer.content}} <br>
        <a href={% url 'blog:answer_edit' answer.question.group.pk answer.question.pk answer.pk %}>수정</a>
        <a href={% url 'blog:answer_delete' answer.question.group.pk answer.question.pk answer.pk %}>삭제</a>
        <hr/>
    {% empty %}
        등록된 답변이 없습니다.
        <hr/>
    {% endfor %}
    <a href={% url 'blog:answer_new' group.pk question.pk %}>답변+</a>

    <hr/>
    <a href={% url 'blog:group_detail' group.pk %}>그룹으로</a>
{% endblock %}